{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Zaloguj się do notatnika{% endblock %}
{% block body %}
    <div class="container text-center" >
        <div class="row" >
            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                <form action="{{ path('app_login') }}" method="post" class="row g-3">
                    <h1 class="h3 mb-3 font-weight-normal">Proszę się zalogować</h1>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <label for="inputEmail">e-mail</label><br>
                        <input type="email" id="inputEmail" name="email" value="{{ last_email }}" required/>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword">hasło</label><br>
                        <input type="password" id="inputPassword" name="password">
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Zaloguj się
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}