{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Zaloguj się do notatnika{% endblock %}

{# proces logowania:
1.  The user tries to access a resource that is protected (e.g. /admin);
2.  The firewall initiates the authentication process by redirecting the user to the login form (/login);
3.  The /login page renders login form via the route and controller created in this example;
4.  The user submits the login form to /login;
5.  The security system (i.e. the form_login authenticator) intercepts the request, checks the user's submitted credentials, authenticates the user if they are correct, and sends the user back to the login form if they are not.
#}

{% block body %}
    {# pole mail i password musi zawierać _username i _password - nie zmieniac, kazde inne pole trzeba nazwać podobnie #}
    <div class="container text-center" >
        <div class="row" >
            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                <form action="{{ path('app_login') }}" method="post" class="row g-3">
                    <h1 class="h3 mb-3 font-weight-normal">Proszę się zalogować</h1>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <label for="inputEmail">e-mail</label><br>
                        <input type="email" id="inputEmail" name="email" value="{{ last_email }}" required/>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword">hasło</label><br>
                        <input type="password" id="inputPassword" name="password">
                    </div>

                    {# token chroniący przed Atakami CSRF - nieautoryzowanym przejeciem danych #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Zaloguj się
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}