{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <div class="container text-center" >
        <div class="row" >
            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                <form action="{{ path('app_saveeditednote') }}"  method="post" class="row g-3">
                    <h1 class="h3 mb-3 font-weight-normal">Edytuj notatkę:</h1>

                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <input value="{{ note.title }}" type="text" id="title" name="title" style="width:50%; height: 50px;" placeholder="Wpisz tytuł notatki">
                    </div>
                    <div class="col-12">
                        <textarea type="textarea" id="noteContent" name="noteContent" style="width:50%; height: 200px;" placeholder="Wpisz treść notatki">{{ note.noteContent }}</textarea>
                    </div>

                    <input type="hidden" name="noteId" value="{{ note.id }}">

                    <div>
                        <a>
                            <button class="btn btn-success"><i class="fas fa-plus" type="submit"></i> Zapisz zmiany</button>
                        </a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}