{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}

    {# wyskakujace okienko o aktualizacji danych
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    #}

    <div class="container text-center">
        <div class="row">
            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                {% if is_granted('ROLE_USER') %}
                    <h1>{{ title }} </h1>
                    <br>
                    <div class="container text-center">
                        <div class="row">
                            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1>{{ title }}  </h1>
                    <br>
                    <div class="container text-center">
                        <div class="row">
                            <div class="login-form mt-4 p-4" style="background-color: #27333A;">
                                <h4 class="h3 mb-3 font-weight-normal">Zaloguj się, aby kontynuować</h4>
                                <div class="col-12">
                                    <a href="{{ path('app_login') }}">
                                        <button class="btn btn-lg btn-primary">Zaloguj się</button>
                                    </a>
                                </div>
                                <br>
                                <h6 class="h3 mb-3 font-weight-normal">Nie masz konta?</h6>
                                <p>
                                    <a href="{{ path('app_register') }}">
                                        <button class="btn btn-lg btn-primary">Zarejestruj się</button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
